In [3]:
import pandas as pd
import numpy as np
x = pd.Series()
x

<ipython-input-3-1d034dda6bcc>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

Series([], dtype: float64)

In [11]:
info = np.array(['p','a','n','d','a','d','s'])
a = pd.Series(info)
a

0    p
1    a
2    n
3    d
4    a
5    d
6    s
dtype: object

In [13]:
x1 = {'x':0.,'y':1,'z':3}
a = pd.Series(x1)
a

x    0.0
y    1.0
z    3.0
dtype: float64

In [15]:
x2 = pd.Series(4,index =[1,2,3,4])
x2

1    4
2    4
3    4
4    4
dtype: int64

In [21]:
x = pd.Series([1,2,3],index=['a','b','c'])
print(x[0])
print(x[2])

1
3

In [26]:
#Retrieving Index array and data array of a series object
x=pd.Series(data=[2,4,6,8,5,6])   
y=pd.Series(data=[11.2,18,22.5], index=['a','b','c'])   
print(x.index)   
print(x.values)   
print(y.index)   
print(y.values)

RangeIndex(start=0, stop=6, step=1)
[2 4 6 8 5 6]
Index(['a', 'b', 'c'], dtype='object')
[11.2 18.  22.5]

In [29]:
#Retrieving Types (dtype)
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],   
index=['x','y','z'])   
print(a.dtype)   
   
print(b.dtype)

int64
float64

In [35]:
#shape
a=pd.Series(data=[[1,2],[3,4,5],4,3])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
print(a.shape)   
print(b.shape)

(4,)
(3,)

In [36]:
#dimensions,size
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],  
index=['x','y','z'])   
print(a.ndim, b.ndim)   
print(a.size, b.size)   
print(a.nbytes, b.nbytes)

1 1
4 3
32 24

In [10]:
import numpy as np
import pandas as pd

dict1 = {
"name":['Andy', 'Doe', 'john'],
"age":[26,27,28],
"city":['Pune', 'Pune', 'Mumbai'],
}

df = pd.DataFrame(dict1)
df

   name  age    city
0  Andy   26    Pune
1   Doe   27    Pune
2  john   28  Mumbai

In [5]:
import pandas as pd
import numpy as np
i = np.array(['html','css','android','java','python','kotlin'])
j = pd.Series(i)
print(j)

0       html
1        css
2    android
3       java
4     python
5     kotlin
dtype: object

In [6]:
import pandas as pd
i = ['android', 'java', 'kotlin', 'html', 'css']
df = pd.DataFrame(i)
print(df)

         0
0  android
1     java
2   kotlin
3     html
4      css

In [7]:
import pandas as pd
i = pd.Series()
print (i)

Series([], dtype: float64)

<ipython-input-7-e67adec4c270>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  i = pd.Series()

In [1]:
# Series with 1-D
import pandas as pd
import numpy as np

i = np.array([10,20,30,40,50,'data1', 'date2', 'data3', 10.201])

j = pd.Series(i)

print(j)

0        10
1        20
2        30
3        40
4        50
5     data1
6     date2
7     data3
8    10.201
dtype: object

In [3]:
import pandas as pd
import numpy as np

i = {'a' : 100, 'b' : 'abc', 'c' : 300, 'd' : 50}

j = pd.Series(i)
print(j)

a    100
b    abc
c    300
d     50
dtype: object